@import "../../absctracts/mixins";
@import "../../absctracts/variables";
@import "./card.scss";
@import "./dialogForm.scss";

.header {
    @include componentHeader();
}

.button__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.button__container > input {
    height: 50px;
    border-radius: 10px;
    border: 1px solid $soft__text;
    font-size: 20px;
    text-decoration: none;
}

.button__container > button {
    @include button(#00ffff);
    margin-top: 10px;
}

.button__container > button:active {
    background-color: #06c5c5;
}

.card__container {
    @include flexCenter();
    flex-wrap: wrap;
    margin: auto;
}
