@mixin bgImage($image) {
    background: url($image);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: overlay;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin navigationElement() {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}

@mixin componentHeader() {
    color: #000;
    border-radius: 5px 5px 0 0;
    padding: 20px;
    text-align: center;
}

@mixin button($bgcolor) {
    padding: 15px;
    border: none;
    border-radius: 30px;
    background-color: $bgcolor;
}
