@import "../../absctracts/mixins";

.dashboard {
    @include flexCenter();
}

.big__container {
    @include bigContainer();
    @include boxSizing();
}

.page__container {
    background-color: #ffff;
    border-radius: 30px;
    height: 95%;
    margin: 20px;
    @include boxSizing();
}
