@import "../../absctracts/mixins";
@import "./sidebar";

.dashboard {
    @include flexCenter();
}

.big__container {
    @include bigContainer();
}

.page__container {
    background-color: #ffff;
    border-radius: 10px;
    height: 95%;
    margin: 15px;
    overflow-y: auto;
    overflow-x: auto;
}
