@import "../../absctracts/mixins";

.dashboard {
    @include flexCenter();
}

.big__container {
    @include bigContainer();
    @include boxSizing();
}

.page__container {
    background-color: #ffff;
    border-radius: 10px;
    height: 95%;
    margin: 15px;
    @include boxSizing();
    overflow-y: auto;
    overflow-x: auto;
}
