.navigation__title {
    @include navigationElement();
    color: #fff;
}

.navigation__title:hover {
    color: #00ffff;
    background-color: $bgcolor__hover;
}

.father {
    justify-content: space-between;
}

.child {
    margin-left: 15px;
}
