.navigation__title {
    @include navigationElement();
    color: #fff;
}

.navigation__title:hover {
    color: #00ffff;
    background-color: $bgcolor__hover;
}

.father {
    justify-content: space-between;
    div {
        display: flex;
        align-items: center;
    }
}

.child {
    margin-left: 15px;
}

.session_options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}

.session_option {
    color: #fff;
    font-size: 12px;
}
