@import "../../absctracts/variables";
@import "../../absctracts/mixins";

.sidebar {
    width: 20%;
    @include sidebar();
}
.sidebar {
    display: none;
    @media screen and (min-width: 800px) {
        display: block;
    }
}

.sidebar h2 {
    margin-left: 15px;
}

.user__info {
    text-align: center;
}

.profile__image {
    width: 150px;
    border-radius: 50%;
    height: 150px;
    object-fit: cover;
}
