@import "../../absctracts/variables";
@import "../../absctracts/mixins";

.top__container {
    @media screen and (min-width: 800px) {
        display: none;
    }
}

.top__navbar {
    display: flex;
    height: 30%;
    align-items: center;
    justify-content: flex-end;
    margin: 20px;
}

.nav__page {
    margin-bottom: 15px;
}

.menu__icon {
    color: #ffff;
    margin-right: 20px;
}
