@import "../../absctracts/variables";
@import "../../absctracts/mixins";

.top__container {
    @media screen and (min-width: 800px) {
        display: none;
    }
    width: 100%;
}

.top__navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 20px;
}

.menu__icon {
    color: #ffff;
    margin-right: 20px;
    cursor: pointer;
}
