.schedule__table {
    width: 100%;
    max-width: 2100px;
    margin-top: 20px;
    thead {
        background-color: rgb(206, 204, 204);
        tr {
            th {
                padding: 6px 7px;
                width: 30%;
            }
        }
    }
    tbody {
        td {
            padding: 6px 7px;
        }
        tr {
            padding: 12px 15px;
        }
        tr:hover {
            background-color: #f3f3f3;
        }
    }
}

#day {
    width: 10%;
}

#actions {
    width: 5%;
}
