@import "./absctracts/variables";
@import "./absctracts/mixins";
@import "./components/dashboard/index";
@import "./components/linksKeypads/index";

* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

.app {
    height: 100vh;
}

body {
    font-family: $fonts;
    background-color: $bgcolor;
    margin: 0;
}

.flex__center {
    @include flexCenter();
    height: 100%;
}

.grid__center {
    display: grid;
    place-content: center;
    height: 100%;
}

.soft__text {
    color: $soft__text;
}
